body {
  background-color: #ececec;
  align-items: center;
  text-align: center;
}

.header {
  background-image: url('thenewlady.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #e2d2bc;
  font-size: 3rem;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.features .form-control,
.features input {
  border-radius: 0;
}
.addButton {
  background-color: #48da34;
  border: 1px solid #333;
  color: #fff;
  margin: 10px;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.addButton:hover {
  background-color: #1d7910;
  border: 1px solid #333;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}

.data {
  color: rgb(8, 7, 7);
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.data-title {
  color: rgb(12, 11, 11);
  font-size: 28px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h3 {
  color: rgb(94, 91, 91);
  font-size: 36px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.jumbotron {
  align-self: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  position: center;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #979393;
}

tr:nth-child(odd) {
  background-color: #c4bebe;
}

.js-btn-delete {
  background-color: red;
  color: white;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.js-btn-delete:hover {
  background-color: rgb(171, 16, 16);
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.greenClass {
  background-color: green;
}

@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }

  .description h1 {
    font-size: 2em;
  }

  .description p {
    font-size: 1.2rem;
  }

  .features {
    margin: 0;
  }
}

.container-fluid {
  object-position: center;
}

.container {
  position: center;
}

.display-4 {
  color: rgb(12, 11, 11);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: lighter;
  line-height: 2.8;
}

.input-group-prepend {
  margin: 10px;
}

.form-control {
  color: rgb(12, 11, 11);
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.feature-title {
  font-size: 30px;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
